.container {
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px
}

.navbar-toggler {
    right: 1.642857rem;
    position: absolute;
    top: 0.842857rem;
}

.cart {
    position: absolute;
    right: 6.642857rem;
    line-height: 45px;
    color: #fff;
    font-size: x-large;
    top: 0.642857rem;
}

.cart:hover {
    color: #fff;
    text-decoration: none;
}


.home-title {
    text-align: center;
    margin-bottom: 30px
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.shadow, .bsa-cpc ._default_ {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33,37,41,0.15) !important;
}

.border-0 {
  border: 0 !important;
}

.container {
  margin-top: 100px;
  max-width: 1600px;
}

.card-footer {
  padding: 0
}

.menu-footer-button {
    color: #ffffff!important;
}

.orderList-img {
    width: 80px;
    height: 80px;
    border-radius: 50%
}

.card-header {
    background: black;
    color: white;
    padding: 10px 25px;
}

.card-header-title{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 30px;
    font-size: 15px;
}

.card-header-button {
    float: right;
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.select-paging {
    display: inline-block;
    width: auto;
}

.edit-menu-img {
    width: 50%;
    margin: 35px;
}


.quantity-text {
    border: 1px solid #dddddd;
    text-align: center;
}

.quantity-btn-minus {
    border-radius: .2rem 0  0 .2rem;
}


.quantity-btn-plus {
    border-radius: 0 .2rem .2rem 0;
}


.checkout-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.totalPrice-label {
    position: absolute;
    bottom: 15px;
}


.pointer-icon {
    cursor: pointer;
}

.addOrder-btn {
    color: #ffffff;
}

.checkout-card {
    padding: 0;
}
